<audio controls="controls">
  <source src="<%= document['audio_format_mp3_display'].first %>" type="audio/mpeg" />
</audio>

<p>
  <a href="<%= document['audio_format_mp3_display'].first %>">Download MP3</a>
</p>


<%= render :partial => '/catalog/show_default', :locals => {:document => document} %>
